<div id="wrapper">
  <section id="rate-selection">
    <ul></ul>
  </section>

  <section id="converter">
    <p id="network-status" class="online">Online</p>

    <section id="rates">
      <span>Loading</span>
    </section>
    <div id="flippable">
      <section id="input">
        <h1>0</h1>
        <h2>Loading</h2>
      </section>
      <div id="flip"><button>Flip</button></div>
      <section id="output">
        <h1>0</h1>
        <h2>Loading</h2>
      </section>
    </div>

    <div id="input-pad">
      <p>1</p>  <p>2</p>  <p>3</p>  <p>0</p>

      <p>4</p>  <p>5</p>  <p>6</p>  <p>.</p>

      <p>7</p>  <p>8</p>  <p>9</p>  <p id="clear">Clear</p>
    </div>
  </section>
</div>

<div id="credits">
  <a href="http://ab-c.com.au"></a>
</div>

<div id="install">
  <h1>$$$</h1>
  <h2>A currency converter<br>built in html5</h2>
  <p>It’s an iPhone/iPod app built with the new html5 offline app cache. So it works even when you’re offline.</p>

  <div id="install-wrapper">
    <p>Tap the <em id="add-button"></em> (or <em>+</em>) button<br>
      and choose <em>Add to Home Screen</em>.</p>
  </div>
</div>