<div id="wrapper">
  
  <div id="currencies">
    <nav>
      <ul>
        <li><a href="#" id="save-currencies">Save</a></li>
      </ul>
    </nav>
    <ul id="from-currency"></ul>
    <ul id="to-currency"></ul>
  </div>
  
  <section id="rates">
    <em>¥100</em>JPY 
    <span>&rarr;</span> 
    AUD<em>$1.27~</em>
  </section>

  <section id="from">
    <h1>0</h1>
    <h2>¥ Japanese Yen</h2>
  </section>
  <section id="to">
    <h1>0</h1>
    <h2>$ Australian Dollars</h2>
  </section>

  <small>Synced: <strong>1 hour ago</strong></small>

  <section id="numpad">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
    <p>8</p>
    <p>9</p>
    <p>.</p>
    <p>0</p>
    <p>&larr;</p>
  </section>
</div>