<div id="wrapper">
  <section id="rate-selection">
    <h2 class="left">From</h2>
    <div id="save"><button>Save</button></div>
    <h2 class="right">To</h2>
    <ul></ul>
  </section>

  <section id="converter">
    <p id="network-status" class="online">Online</p>

    <section id="rates">
      <span>Loading</span>
    </section>

    <section id="input">
      <h1>0</h1>
      <h2>Loading</h2>
    </section>
    <div id="flip"><button>Flip</button></div>
    <section id="output">
      <h1>0</h1>
      <h2>Loading</h2>
    </section>

    <div id="input-pad">
      <p>1</p>  <p>2</p>  <p>3</p>  <p>0</p>

      <p>4</p>  <p>5</p>  <p>6</p>  <p>.</p>

      <p>7</p>  <p>8</p>  <p>9</p>  <p id="clear">Clear</p>
    </div>
  </section>
</div>