<div id="wrapper">

  <p id="network-status" class="online">Online</p>

  <section id="rates">
    Loading
  </section>

  <section id="rate-selection">

    <h2 class="left">From</h2>
    <button id="save">Save</button>
    <h2 class="right">To</h2>

    <ul>
      <li>
        <a href="#" id="from-EUR">&nbsp;</a>
        <em>€</em> EUR <em>(Euro)</em>
        <a href="#" id="to-EUR">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-GBP">&nbsp;</a>
        <em>£</em> GBP <em>(British Pound)</em>
        <a href="#" id="to-GBP">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-JPY">&nbsp;</a>
        <em>¥</em> JPY <em>(Japanese Yen)</em>
        <a href="#" class="selected" id="to-JPY">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-CHF">&nbsp;</a>
        <em>CHF</em> CHF <em>(Swiss Francs)</em>
        <a href="#" id="to-CHF">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-CAD">&nbsp;</a>
        <em>$</em> CAD <em>(Canadian Dollars)</em>
        <a href="#" id="to-CAD">&nbsp;</a>
      </li>
      <li>
        <a href="#" class="selected" id="from-AUD">&nbsp;</a>
        <em>$</em> AUD <em>(Australian Dollars)</em>
        <a href="#" id="to-AUD">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-SGD">&nbsp;</a>
        <em>$</em> SGD <em>(Singapore Dollars)</em>
        <a href="#" id="to-SGD">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-HKD">&nbsp;</a>
        <em>$</em> HKD <em>(Hong Kong Dollars)</em>
        <a href="#" id="to-HKD">&nbsp;</a>
      </li>
      <li>
        <a href="#" id="from-NZD">&nbsp;</a>
        <em>$</em> NZD <em>(New Zealand Dollars)</em>
        <a href="#" id="to-NZD">&nbsp;</a>
      </li>
    </ul>
  </section>

  <section id="input">
    <h1>0</h1>
    <h2>Loading</h2>
  </section>
  <section id="output">
    <h1>0</h1>
    <h2>Loading</h2>
  </section>

  <div id="input-pad">
    <p>0</p>                 <p>1</p>  <p>2</p>  <p>3</p>

    <p>.</p>                 <p>4</p>  <p>5</p>  <p>6</p>

    <p id="clear">Clear</p>  <p>7</p>  <p>8</p>  <p>9</p>

  </div>

  <div id="currency-selection">
    <ul></ul>
  </div>

</div>