<p id="network-status" class="offline">Offline</p>
<button id="change-currencies">Change currencies</button>

<section id="rates">
  <em>¥1</em>
  JPY
  <span>→</span>
  AUD
  <em>$1.27</em>
</section>

<section id="input">
  <h2>Australian Dollars</h2>
  <h1><em>$</em>10,000<span class="decimal">.00</span></h1>
</section>
<section id="output">
  <h2>Japanese Yen</h2>
  <h1><em>$</em>100,000<span class="decimal">.00</span></h1>
</section>

<div id="input-pad">
  <p>.01</p>
  <p>.1</p>
  <p>1</p>
  <p>10</p>
  
  <p>100</p>
  <p>1,000</p>
  <p>10,000</p>
  <p>100,000</p>
  <div id="undo-nav">
    <p id="undo">Undo</p>
    <p id="undo-all">Undo all</p>
  </div>
</div>

<div id="currency-selection">
  <ul></ul>
</div>

<!--  
  <div id="currencies">
    <nav>
      <ul>
        <li><a href="#" id="save-currencies">Save</a></li>
      </ul>
    </nav>
    <ul id="from-currency"></ul>
    <ul id="to-currency"></ul>
  </div>
  
  
  
  <section id="rates"></section>

  <section id="from">
    <h1>0</h1>
    <h2></h2>
  </section>
  <section id="to">
    <h1>0</h1>
    <h2></h2>
  </section>

  <small>Synced: <strong>1 hour ago</strong></small>

  <section id="numpad">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
    <p>8</p>
    <p>9</p>
    <p>.</p>
    <p>0</p>
    <p>&larr;</p>
  </section>
</div>
-->