<div id="wrapper">

  <p id="network-status" class="online">Online</p>

  <section id="rates">
    <button id="change">Change</button> <span>Loading</span>  <button id="flip">Flip</button>
  </section>

  <section id="rate-selection">

    <h2 class="left">From</h2>
    <button id="save">Save</button>
    <h2 class="right">To</h2>

    <ul></ul>
  </section>

  <section id="input">
    <h1>0</h1>
    <h2>Loading</h2>
  </section>
  <section id="output">
    <h1>0</h1>
    <h2>Loading</h2>
  </section>

  <div id="input-pad">
    <p>1</p>  <p>2</p>  <p>3</p>  <p>0</p>

    <p>4</p>  <p>5</p>  <p>6</p>  <p>.</p>

    <p>7</p>  <p>8</p>  <p>9</p>  <p id="clear">Clear</p>
  </div>

</div>