-# encoding: UTF-8
!!! 5
%html{lang: "en", :manifest => "/offline.manifest"}
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "/stylesheets/layout.css"}
    %link{rel: "apple-touch-icon-precomposed", :href => "/images/icons/appicon.png"}
    %title Offline currency. Time to burn some ¥
    %meta{name: "viewport", content:"width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
      
  %body
    = yield
    /
      %footer
      %p
        %em &real;
        Another 
        %a{rel: "author", href: "http://ab-c.com.au"} ab+c
        joint
    %script{src: "/javascripts/jquery.js"}
    %script{src: "/javascripts/application.js"}