!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "/stylesheets/layout.css"}
  %body
    = yield
    /
      %footer
      %p
        %em &real;
        Another 
        %a{rel: "author", href: "http://ab-c.com.au"} ab+c
        joint
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{src: "/javascripts/application.js"}