<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grip</title>
  </head>
  <body>
    <h1>Grip</h1>
    <h2>An offline-capable currency converter, built using web standards</h2>
  </body>
</html>