<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grip</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site.css" media="screen">
    <script src="/javascripts/jquery.js"></script>
    <script src="/me/me-player.js"></script>
    <script src="/javascripts/site.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <section id="content">
        <h1>$$$</h1>
        <h2>A currency converter<br>built in html5<br>-</h2>
        <p>It’s an iPhone/iPod app built with the new html5 offline app cache. So it works even when you’re offline.</p>
        <button id="watch-video">Watch the video</button>
        <p class="highlight">To <strong>install</strong>, visit <em>http://ab-c.com.au/grip</em> on your iPhone/iPod</p>
      </section>
      <section id="video">
        <video src="/videos/currency-demo.mov"></video>
        <button id="close-video"><em>&times;</em> Close</button>
      </section>
    </div>
  </body>
</html>