<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>currency.io</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site.css" media="screen">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/site.js"></script>
    <script>var _gaq=[['_setAccount','UA-5821132-2'],['_trackPageview']];(function(d,t){ var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
  </head>
  <body>
    <div class="wrapper">
      <section id="content">
        <h1>currency.io</h1>
        <h2>A offline-capable, html5 currency converter app for the iPhone.<br>-</h2>
        <p>We set out to build a useful, cohesive application for your phone using web standards.</p>
        <div class="buttons">
          <button id="watch-video">Demo video</button>
          <a href="https://github.com/benschwarz/currency.io" class="button">Source on Github</a>
        </div>
      </section>

      <section id="video">
        <iframe src="http://player.vimeo.com/video/21279315?title=0&amp;byline=0&amp;portrait=0&amp;color=cc3333" width="320" height="480" frameborder="0"></iframe>
        <button id="close-video"><em>&times;</em> Close</button>
      </section>

      <footer>
        <p class="highlight">To <strong>install</strong> the app, visit <em>http://currency.io</em> on your iPhone / iPod Touch</p>
        <p class="ab-c"><em>&real;</em> Another <a href="http://ab-c.com.au">ab+c</a> joint</p>
      </footer>
    </div>
  </body>
</html>