<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>currency.io</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/site.css" media="screen">
    <script src="/javascripts/jquery.js"></script>
    <script src="/me/me-player.js"></script>
    <script src="/javascripts/site.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <section id="content">
        <h1>currency.io</h1>
        <h2>A html5 currency converter that&nbsp;works when you’re offline.<br>-</h2>
        <p>It’s a free app which works with&nbsp;any iPhone or iPod touch, so it’s perfect for when you’re travelling & without the internet.</p>
        <button id="watch-video">Watch the video</button>
      </section>

      <section id="video">
        <video src="/videos/currency-demo.mov"></video>
        <button id="close-video"><em>&times;</em> Close</button>
      </section>

      <footer>
        <p class="highlight">To <strong>install</strong>, visit <em>http://currency.io</em> on your iPhone/iPod</p>
        <p class="ab-c"><em>&real;</em> Another <a href="http://ab-c.com.au">ab+c</a> joint</p>
      </footer>
    </div>
  </body>
</html>