/*

  Generic styles

*/

html { background: #fff; }
body { width: 31.9em; margin: 0em auto; padding: 0em; font-family: "Helvetica Neue", sans-serif; color: #555; font-weight: bold; text-align: right; text-shadow: 0.2em 0.2em 0em #fff; }
body * { -webkit-user-select: none; }
section { display: block; }
em { font-style: normal; }
h1, h2 { font-size: 1em; margin: 0em; padding: 0em; }
button { font-family: "Helvetica Neue", sans-serif; background: #fff; border: transparent; font-size: 0.9em; padding: 0px; color: inherit; }
div#wrapper { width: 31.9em; margin: 0em; overflow: hidden; position: relative; }

/*

  Calculator

*/

#network-status { position: absolute; left: 4px; text-align: center; padding: 1em 0em 1em; margin: 0em; font-weight: normal; font-size: 0.9em; color: #888; }
.online:before { content: '\2713\0020'; color: green; font-weight: bold; }
.offline:before { content: '\2715\0020'; color: red; font-weight: bold; }

button { margin: 1.5em 0em 1em; }

#rates { color: #999; font-size: 1.5em; margin: 0.75em 0em 0em 0em; }
#rates em { color: #ccc; font-size: 0.8em; margin: 0em 0.6em; }
#rates span { font-size: 0.9em; margin: -0.1em 0.1em 0em; }

#input, #output { border-top: 1px solid #f3f3f3; margin: 0.7em 0em; padding: 0.7em 0.5em 0em 0em; position: relative; }
#output { margin: 0em 0em 0.7em; }
#input:before, #output:before { content: '→'; position: absolute; left: 0.5em; color: #999; top: 52%; font-weight: normal; }
#output:before { content: '='; }

#input h2, #output h2 { font-size: 0.9em; color: #999; line-height: 0.5; padding: 0.3em 0.2em 0em; }
#input h1, #output h1 { font-size: 4.2em; letter-spacing: 0.02em; }
#input h2 em, #output h2 em { color: #ccc; left: -0.3em; }

/*

  Input pad

*/

#input-pad { background: #f2f2f2; -webkit-box-shadow: inset 0em 0.2em 0.6em rgba(0, 0, 0, 0.15); float: left; width: 105%; margin: 2% 0% 0% -1%; padding: 3% 0% 5% 5%; }
#input-pad p { float: left; width: 22%; padding: 0.7em 0em; margin: 1.2% 0%; font-size: 2.4em; cursor: pointer; text-align: center; }

#input-pad #clear { background: url('/images/btn-clear-x2.png') 50% 0% no-repeat; font-size: 1.4em; padding-top: 2.45em; }
#input-pad #clear.active { background: url('/images/on-btn-clear-x2.png') 50% 0% no-repeat; }

/*

  Currency selection

*/





/*

  Preloading
  iPhone-specfic styles

*/

@media only screen and (max-device-width: 480px) {
  body:after { display: none; content: url('/images/on-btn-clear-x2.png') url('/images/on-btn-clear-all-x2.png'); }
  body { font-size: 62.5%; }
  p span { font-size: 1.3em; margin: 0em -0.15em 0em 0em; }
  #input h1, #output h1 { letter-spacing: 0.02em; }

  #input-pad #clear { background: url('/images/btn-clear.png') 50% 30% no-repeat; }
  #input-pad #clear.active { background: url('/images/on-btn-clear.png') 50% 30% no-repeat; }
}