/*

      Non-iphone
      website styles

                        */

@font-face {
  font-family: 'inconsolata'; font-style: normal; font-weight: normal;
  src: local('Inconsolata'),
       url('http://themes.googleusercontent.com/font?kit=BjAYBlHtW3CJxDcjzrnZCCwlidHJgAgmTjOEEzwu1L8') format('truetype'); }

body {
  background: #f7f7f7; color: #002;
  font-family: 'inconsolata', sans-serif; font-size: 75%; line-height: 1.2; }
.wrapper {
  width: 32em; margin: 0em auto;
  text-align: center; }

video {
  display: block; }

#content {
  width: 24em; padding: 1.5em 2em 14em 3em; }

h1 {
  overflow: hidden;
  height: 0em; margin: 0em 0em 0.75em; padding-top: 4.6em;
  background: url('/images/logo.png') 50% 0% no-repeat;
  font-family: sans-serif; font-size: 3em; }
p,
h2 {
  margin: 0.4em 0em 1em;
  color: #445;
  font-weight: normal; font-size: 1.4em; }
a {
  color: inherit;
  border-bottom: 0.1em solid;
  text-decoration: none; }

.highlight {
  margin: 2em 0em 0em; padding: 1em;
  background: #f0f0f0; }
.highlight em {
  display: block;
  width: 11em; padding: 0.1em 0.2em; margin: 0.1em auto;
  background: #c33; color: #fff;
  font-style: normal;
  border-radius: 0.5em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; -o-border-radius: 0.5em; }
.highlight strong {
  color: #002;
  font-weight: normal; }

.buttons {
  margin: 2em 0em;
}
button,
.button {
  display: inline-block;
  margin: 0.3em 0em 0em; padding: 0.75em 1.8em;
  background: #002; color: #f7f7f7;
  border: 0em; border-radius: 0.5em;
  font-family: 'inconsolata', sans-serif; font-size: 1.4em; letter-spacing: 0.1em;
  cursor: pointer; }
button:hover,
.button:hover {
  background: #c33; }
button:active,
.button:active {
  background: #3c6; }

footer {
  display: block;
  position: fixed; left: 0em; bottom: 0em; z-index: 1;
  width: 100%; margin: 0em; padding: 0.5em 0em 1em;
  background: rgba(240, 240, 240, 0.85);
  line-height: 1.4; }

.ab-c {
  margin: 0.5em 0em 0.5em -2em; padding: 0.75em 0em 0em;
  color: #999;
  font-family: 'Andale Mono', 'Courier New', courier; font-size: 1em; line-height: 1.1; }
.ab-c em {
  display: block;
  font-style: normal; font-size: 1.1em; }

#video {
  position: absolute; top: -48em; left: 50%;
  margin: 0em 0em 0em -15.5em; padding: 1.5em;
  background: #e3e3e3; }
#video button {
  display: block;
  position: relative;
  width: 7.8em; margin: 0.75em auto 0em; padding-left: 2.8em; }
#video button em {
  position: absolute; top: 0.4em; left: 1.2em;
  font-style: normal; font-size: 1.4em;
  color: rgba(255, 255, 255, 0.7); }

/*  Mozilla-specfic layout hack  */
@-moz-document url-prefix() {
  #video button {
    padding-left: 1.8em; }
  #video button em {
    display: none; }
}